.my_jumbotron2{
    background-image: url("/images/jumbotron.jpg");
    height: 300px;
    background-size: cover;
  }
 .blue_bg{
    height: 60px;
    width: 100%;
    background-color: #0E7CEC;
 } 

.my_card{
    width: 180px;
    height: 250px;
    left: 550px;
    top: -220px;
    img{
        width: 100%;
    }
}