.my_jumbotron2 {
  background-image: url("/images/jumbotron.jpg");
  height: 300px;
  background-size: cover;
}

.blue_bg {
  height: 60px;
  width: 100%;
  background-color: #0E7CEC;
}

.my_card {
  width: 180px;
  height: 250px;
  left: 200px;
  top: -220px;
}

.my_card img {
  width: 100%;
}

.details {
  width: 70%;
  margin: 0 auto;
  padding: 70px 0;
}

.details .my_width {
  width: 85%;
}

.details .my_width .my_price {
  width: 65%;
  outline: 1px solid black;
  background-color: #55BA59;
}

.details .my_width .my_option {
  width: 35%;
  outline: 1px solid black;
  background-color: #55BA59;
}

.my_bg {
  background-color: #f6f6f6;
}

.my_bg .sec_width {
  width: 45%;
}

.my_bg .sec_width .my_talent {
  margin: 0 30px;
}

.my_bg .sec_width .my_talent .art_by {
  width: 80%;
}

