.my_button {
  top: -30px;
  z-index: 21;
}

.my_width_main {
  background-color: #1C1C1C;
}

.my_width_main .card {
  max-width: calc(16.6666666667% - 30px);
  max-height: 50%;
  background-color: #1C1C1C;
  margin: 30px 15px;
}

.my_width_main .card img {
  width: 100%;
}

.my_width_main .card img:hover {
  box-shadow: 10px 5px 5px 5px black;
  opacity: 0.6;
  transform: perspective(12cm) rotateX(-15deg) rotateY(30deg);
}

.my_width_main .my_second_button {
  width: 150px;
  margin-top: 60px;
}

.my_role img {
  height: 50px;
}

.my_role .cl-effect-18 {
  position: relative;
  z-index: 1;
}

.my_role .cl-effect-18 a {
  transition: color 0.3s;
}

.my_role .cl-effect-18 a::before,
.my_role .cl-effect-18 a::after {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 4px;
  margin: -1px;
  background: #0282F9;
  content: "";
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.my_role .cl-effect-18 a::before {
  transform: translateY(-50px);
}

.my_role .cl-effect-18 a::after {
  transform: translateY(50px);
}

.my_role .cl-effect-18 a:hover,
.my_role .cl-effect-18 a:focus {
  color: #fff;
}

.my_role .cl-effect-18 a:hover::before,
.my_role .cl-effect-18 a:hover::after,
.my_role .cl-effect-18 a:focus::before,
.my_role .cl-effect-18 a:focus::after {
  opacity: 0.7;
}

.my_role .cl-effect-18 a:hover::before,
.my_role .cl-effect-18 a:focus::before {
  transform: rotate(45deg);
}

.my_role .cl-effect-18 a:hover::after,
.my_role .cl-effect-18 a:focus::after {
  transform: rotate(-45deg);
}

